{% extends "base.html" %}
{% block titulo %} Inicio - Red Social {% endblock %}
{% block contenido_principal %}
<div class="container" style="text-align: center">
    <h1>Usuarios de la Red Social</h1>
    <!-- Busqueda -->
    <div class="row">
        <div id="custom-search-input ">
            <form method="get" action="/user/list" >
                <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                    <input type="text" class="search-query form-control"
                           placeholder="Nombre, apellidos o email del usuario a buscar" name="busqueda"/>
                    <span class="input-group-btn">
						<button class="btn" type="submit">
							<span class="glyphicon glyphicon-search">Buscar</span>
						</button>
					</span>
                </div>
            </form>
        </div>
    </div>
    <!-- Tabla de usuarios -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{ u.name }}</td>
                <td>{{ u.surname }}</td>
                <td>{{ u.email }}</td>
                <td>
                    <form method="get" action="/invitations/add/{{u._id.toString()}}">
                        <button type="submit" class="btn btn-info">Agregar Amigo</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}